@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.p-dark, .p-dark *));

h1 {
  font-weight: bold;
  line-height: 1.8rem;
  margin-top: 1rem;

  &:first-of-type {
    margin-top: 0;
  }
}

ul {
  list-style: circle;
  padding-left: 2rem;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}

code {
  background-color: var(--p-primary-500);
  color: var(--p-surface-900);
  padding: 0.1rem;
  border-radius: 0.25rem;
}
